<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 Amlogic, Inc.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" package="com.droidlogic.appinstall">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"/>
    <supports-screens android:largeScreens="true" android:smallScreens="true" android:resizeable="true" android:normalScreens="true"></supports-screens>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"></uses-permission>
    <original-package android:name="com.droidlogic.appinstall" />

    <application android:icon="@mipmap/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".main"
            android:configChanges="orientation|fontScale|screenSize|screenLayout"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>